header{
  margin: 0;
  padding: 0;
  background-color: rgb(204, 241, 102);
  
}
.header-top {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 50px;
  display: flex;
  
}

.header-top h3 {
  margin: 0 auto 0 0;
  width: 150vh;
  color: white;
  line-height: 50px;
  
}

.header-top p {
  margin: 0 0 0 0;
  color: white;
  line-height: 50px;
}

.menu1 .item-menu1{
  list-style: none;
  
}

.menu1 .item-menu1 a{
  margin: 0 5px 0 0;
  color: white;
  text-decoration: none;
}

.menu1 .item-menu1 a i{
  margin: 0 5px 0 0;
  
}



.menu2 .item-menu2{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu2 .item-menu2 a{
  margin: 0 0 0 20px;
  padding: 0;
  text-decoration: none;
}
