main{
    margin: 0;
    padding: 0;
    
    background-color: white;
    
}

.bloco-text{
    
    display: flex;
   flex-direction: row;
    
    

}

.bloco-text .text{
    border: 2px solid red;
    margin: 5px;
    text-align: center;
    
}

.bloco-text p{
    text-decoration: none;
}

